nav {
    height: 10vh;
    padding-left: 1vw;
    border: black 3px solid;
}

.logo {
    height: 100%;
}

.logo * {
    height: 100%;
}

.active {
    font-weight: bold;
}

.nav-link {
    padding-top: 2.25rem!important;
}
